<h2><%= @user.name %>さんの お薬手帳</h2>
<h3>登録順に最新のお薬が5つ表示されます</h3>

<% if @medicines.present? %>
  <%= render partial: "medicine", collection: @medicines %>
  <%= link_to "お薬手帳　参照", record_medicine_path(@user) %>
<% else %>
  <h3 class="text-center">お薬は登録されていません。</h3>
<% end %>
<%= render "form", current_user: @user, medicine: Medicine.new, value: "登録" if current_user != @admin %>