<label class="ef">
  <div class="center">
    <%= form_with model: message do |f| %>
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 150, type: "text" %>
      <%= f.hidden_field :conversation_id, value: conversation.id %>
      <%= f.button "送信", class: "cp_button07" %>
    <% end %>
  </div>
 </label>