<%provide(:title, 'Features')%>
<h1>Features</h1>
<p>
  どういった薬を飲めばいいのか。薬の飲み合わせ等、そういった心配や健康に関する相談にお応えするサービスです。
  お客様一人ひとりの持薬・持病をご登録頂くことで健康管理にもつながります。
  また、季節ごとに沿った健康に関する情報を随時お届けします。
  <a href="#">健康情報</a>.
</p>