<h1>ユーザー一覧</h1>

<% if current_user.admin? %>
  <h2>こんにちは <%= current_user.name %>さん</h2>
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user.id) %>
    <hr>
  <% end %>
  <%= link_to "会話履歴", conversations_path %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<% end %>