<h1><%=@user.name%>さんの注文履歴</h1>

  <% if @orders.present? %>
    <%= render partial: "order", collection: @orders %>
    <%= paginate @orders %>
  <% else %>
    <h3 class="text-center">注文はされていません。</h3>
  <% end %>
  <%= link_to "注文　新規", new_order_path %>