@charset "utf-8";
/* CSS Document */
/*
 ページ全体のフォント設定
*/
html{
	font-family: "ＭＳ Ｐゴシック","sans-serif";
	/*font-size: 20px;*/
	/*line-height: 180%;*/
	color: black;
}

/*
 すべてのブラウザ用に、デフォルトのマージンを取り除く。
*/
body {
    margin: 0;
}

/*
 各コンテンツにブロック要素を定義。
*/
article,
aside,/*余談・補足情報*/
details,/*詳細折りたたみ要素*/
figcaption,/*図表のキャプション*/
figure,/*図表*/
footer,
header,
main,
menu,
nav,
section,/*一つのセクションであることを示す*/
summary/*概要明示要素*/ {
  display: block;
}

/* Clearfix */
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}