@charset "utf-8";
/* CSS Document */

/*ナビ*/
nav.cp_navi *, nav.cp_navi *:after, nav.cp_navi *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
nav.pagination a {
	text-decoration: none;
	color: #000;
}
nav.pagination {
	margin: 2em 0;
	text-align: center;
	letter-spacing: 0.5em;
}
.pagination span{
  color:#206a5d;
}

.pagination span a:hover {
	color:#f1eded;
  }

.pagination span:hover,
.pagination.current {
	color: #f1eded;
	background-color:#bfdcae;
}

@media only screen and (min-width: 1081px) {
	.pagination {
		height: 50px;
		margin-top: 50px;
		padding: 0 10px;
		border-radius: 25px;
	}
	.cp_navi .cp_pagenum {
		font-size: 0.8em;
		line-height: 50px;
		padding: 0 15px;
	}
	.cp_navi .cp_pagenum.prev,
	.cp_navi .cp_pagenum.next {
		padding: 0 10px;
	}
}
@media only screen and (max-width: 1080px) {
	.cp_navi .cp_pagination{
		border-radius: 25px;
	}
	.pagination {
		font-size: 0.8em;
		padding: 0 15px;
	}
	.cp_navi .cp_pagenum.prev,
	.cp_navi .cp_pagenum.next {
		padding: 0 10px;
	}
	.cp_navi .cp_pagenum:nth-of-type(2) {
		position: relative;
		padding-right: 50px;
	}
	.cp_navi .cp_pagenum:nth-of-type(2)::after {
		font-size: 1.2em;
		position: absolute;
		top: 0;
		left: 45px;
		content: '...';
	}
	.cp_navi .cp_pagenum:nth-child(-n+3),
	.cp_navi .cp_pagenum:nth-last-child(-n+3) {
		display: block;
	}
	.cp_navi .cp_pagenum:nth-last-child(-n+4) {
		padding-right: 14px;
	}
	.cp_navi .cp_pagenum:nth-last-child(-n+4)::after {
		content: none;
	}
	.cp_navi .cp_pagenum.prev,
	.cp_navi .cp_pagenum.next {
		padding: 0 10px;
	}
}