@charset "utf-8";
/* CSS Document */

/*アイコン画像*/
.icon{
    margin-top: 3%;
}

/*テキスト*/
span{
    font-size: 36px;
}

/*ボタン*/
.cp_button09 {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100px;
	padding: 0.7em;
	cursor: pointer;
	line-height: 1.4;
	transition: color 0.3s cubic-bezier(0.02,0.01,0.47,1),transform 0.3s cubic-bezier(0.02,0.01,0.47,1);
	color: #000;
	border: none;
	border-width: 0;
	border-color: transparent;
	border-radius: 100px;
	background: #bfdcae;
}
.cp_button09:after, .cp_button09:before {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	content: '';
	transition: transform 0.15s cubic-bezier(0.02,0.01,0.47,1),opacity 0.15s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: translate(100%,-25%) translateZ(0);
	        transform: translate(100%,-25%) translateZ(0);
	opacity: 0;
	border-radius: 50%;
	background: #206a5d;
}
.cp_button09:after, .cp_button09:before {
	background: #ffffff;
}
.cp_button09:hover {
	transition: all 0.5s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: scale(1.1) translateZ(0);
	        transform: scale(1.1) translateZ(0);
	color: #000
	box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.cp_button09:hover:before {
	transition: transform 0.2s cubic-bezier(0.02,0.01,0.47,1),opacity 0.2s cubic-bezier(0.02,0.01,0.47,1);
	-webkit-transform: translate3d(50%,0,0) scale(0.9);
	        transform: translate3d(50%,0,0) scale(0.9);
	opacity: 0.15;
}
.cp_button09:hover:after {
	transition: transform 0.2s cubic-bezier(0.02,0.01,0.47,1) 0.05s,opacity 0.2s cubic-bezier(0.02,0.01,0.47,1) 0.05s;
	-webkit-transform: translate(50%) scale(1.1);
	        transform: translate(50%) scale(1.1);
	opacity: 0.25;
}
.cp_button09:active {
	opacity: 0.5;
}
.avatar_form {
	display: none;
  }