/*****************************************
モバイル用CSS(width740px以下)
******************************************/
/* トップ画像 */
/* スマートフォンで見たときは"sp"のclassが適用される */
@media only screen and (max-width: 750px) {
	.pc { display: none !important; }
	.sp { display: block !important; }
	/* 背景画像関連 */
	/* ブラウザー幅全体に広がるようにwidthを100%に設定、
	不要なmarginを取り除くプロパティを定義 */
	body{
		background-image: url("background_sp.jpg");/* 画像 */
		background-size: cover;/*全画面*/
		background-attachment: fixed;/* 固定 */
		background-position: right center/* 縦横中央 */
	}

	/* システムネーム&キャッチコピー関連 */
	.system_name{
		font-family: Courier New;
		font-size: 80px;
		text-align: center;
		margin: 15% auto 0;
	}
	
	.copy{
		font-family: "ＭＳ ゴシック";
		font-size: 20px;
		line-height: 36px;
		text-align: center;
		margin: 5% auto;
	}

	/* メニュー関連 */
	menu{
		width: 80%;
		text-align: center;
		padding: 0%;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}

	ul {
	  list-style: none;
		padding: 0;
	}
	
	li{
		padding: 15px 0px;
	}
	
	.btn-gradient-radius {
		font-size: 25px;
	  display: inline-block;
	  padding: 12px 30px;
	  border-radius: 25px;
	  text-decoration: none;
	  color: black;
	  background: #caf096;
	  transition: .4s;
	}

	.btn-gradient-radius:hover {
	  background: #adf051;
	}
}

@charset "utf-8";
/* CSS Document */

/*****************************************
PC・モバイル共通CSS
******************************************/

/*****************************************
PC用CSS(width741px以上)
******************************************/
/* トップ画像 */
/* パソコンで見たときは"pc"のclassが適用される */
@media only screen and (min-width: 751px)  {
	.pc { display: block !important; }
	.sp { display: none !important; }
	/* 背景画像関連 */
	/* ブラウザー幅全体に広がるようにwidthを100%に設定、
	不要なmarginを取り除くプロパティを定義 */
	body{
		background-image: url("background_pc.jpg") ;/* 画像 */
		background-size: cover;/*全画面*/
		background-attachment: fixed;/* 固定 */
		background-position: right center/* 縦横中央 */
	}
	
	/* システムネーム&キャッチコピー関連 */
	.system_name{
		font-family: Courier New;
		font-size: 120px;
		margin: 5% auto auto 5%;
	}
	
	.copy{
		font-family: "ＭＳ ゴシック";
		font-size: 20px;
		line-height: 36px;
		margin: 2% auto auto 5%;
	}

	/* メニュー関連 */
	menu{
		font-family: "ＭＳ ゴシック";
		font-size: 25px;
		line-height: 45px;
		margin-left: 5%;
	}

	ul {
	  list-style: none;
		position: fixed;
		bottom: 5%;
		margin: 0px;
		padding: 0px;
	}
	
	li{
		padding-top: 2%;
	}
	
	a{
	  position: relative;
	  display: inline-block;
	  transition: .3s;
		color: white;
		text-decoration: none;
	}

	a::after {
	  position: absolute;
	  bottom: 0;
	  left: 50%;
	  content: '';
	  width: 0;
	  height: 2px;
	  background-color: white;
	  transition: .3s;
	  transform: translateX(-50%);
	}

	a:hover::after{
	  width: 100%;
	}
}