<!DOCTYPE html>
<html>
  <%=render 'layouts/head'%>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 
    <div class="container">
    <%= yield %>
   
    </div>
</body>
</html>
