<p>MediRoomから<%= @resource.email %>さんにパスワード再設定の手続きのお願い</p>

<p><%= link_to "パスワード再設定画面", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりが無い場合は、無視してください。</p>
<p>パスワード再設定画面からパスワードを変更しない限り、パスワードは変更されません。</p>
